/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: "Lato", sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__img {
  width: 100%;
}
.header__more-inf{
  font-family: "fantasy", cursive;
}

@media (max-width: 768px) {
  .header { 
    text-align: center;
  }
}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.add-item__form__task-row__input,
.to-do__label,
.to-do__input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.add-item__form__task-row {
  display: flex;
}
.to-do__incomplete-tasks,
.completed-tasks {
  margin: 0;
  padding: 0px;
}
.to-do__task,
.to-do__task__edit-mode,
.completed-tasks,
.to-do__header {
  list-style: none;
}
.add-item__form__task-row__input,
.to-do__input,
.add-item__form__task-row__button,
.to-do__button,
.to-do__button_edit,
.to-do__button_delete {
  outline: none;
}
.add-item__form__task-row__button,
.to-do__button,
.to-do__button_edit,
.to-do__button_delete,
.to-do__button_save {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
}
.add-item__form__task-row__button:hover,
.to-do__button:hover,
.to-do__button_edit:hover,
.to-do__button_delete:hover,
.to-do__button_save:hover {
  color: #3a3a3a;
}
/* Heading */
.to-do__header,
.add-item__form__label {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.add-item__form__task-row__input,
.to-do__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: "Lato", sans-serif;
  color: #888;
}
.add-item__form__task-row__input:focus,
.to-do__input:focus {
  color: #333;
}

/* New Task */
.add-item__form__label{
  display: block;
  margin: 0 0 20px;
}

/* Task list */
.to-do__task,
.to-do__task__edit-mode,
.complete__task {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.to-do__task,
.to-do__task__edit-mode,
.completed-tasks {
  vertical-align: middle;
}

.to-do__checkbox {
  margin: 0 10px;
}
.to-do__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.to-do__input {
  width: 226px;
}
.to-do__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.to-do__img:hover {
  transform: rotateZ(0);
}

/* Completed */
.completed-tasks li label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.to-do__input {
  display: none;
}

ul li.to-do__task__edit-mode input[type=text] {
  display: inline-block;
  width: 224px;
}

ul li.to-do__task__edit-mode label {
  display: none;
}